.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }

  & .page-title{
    margin-bottom: 0;
  }

  &--home {
    height: calc(100vh - 98px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
      margin-left: var(--space-xxl);
      margin-bottom: var(--space-m);
      color: var(--color-primary-rotate);
      font-weight: bolder;
      font-size: var(--font-size-xxxl);
    }
  }
}
