.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin: var(--space-l) 0;
  align-items: end;

  &__group {
    flex: 1;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }

  &__devise {
    width: 50%;
    margin: var(--space-l) 0;

    & .form-inputs {
      margin: var(--space-m) 0;

      & div {
        margin-bottom: var(--space-m);
      }

      & input[type=checkbox] {
        margin-left: var(--space-xxs);
      }
    }

    & .form-actions{
      text-align: center;
    }
  }
}
